@page "/databindingdemo"
@inherits DataBindingBase

<h1>DatabindingDemo</h1>
<hr />
<h3> One way data biding </h3>

<div>
    <b> Name: </b> @Name

</div>

<div>
    <b> Salutation: </b> @(Gender=="Male" ? $"Mr. {Name}" : $"Miss. {Name}")
</div>
<div>
    <h1> Two way data biding </h1>
    <b> Name: </b> <input value="@Name" @onchange="@(e=> { Name=e.Value.ToString(); })" />
    <br />
    <b> Name (bind): </b> <input @bind="Name" />
</div>
<div>
    <b> Name (bind): </b> <input @bind="Name" @bind:event="oninput" />
</div>
<div>
    <b> Gender (bind): </b> <input @bind="Gender" @bind:event="oninput" />
</div>
<div>
    <b> Color: </b> <input @bind="Color" @bind:event="oninput" />
</div>
<div @bind-style="Color" @bind-style:event="onchange">
    <h3>The background color of this text change</h3>
</div>



