@page "/"
@inherits EmployeeListBase

<div>
    Employee Selected Count - @SelectedEmployeeCount
</div>
<input type="checkbox" id="showfooter" @bind="ShowFooter" />
<label for="showfooter">Show Footer</label>

@if (Employees == null) { 
<div class="spinner"></div>
}
else
{
<div class="card-deck">
    @foreach (var employee in Employees)
     {
        <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"
                        OnEmployeeSelection="EmployeeSelectionChanged" />
     }

</div>
}

